proguard-project.txt
*.properties
*.jar
*/libs
WebContent/
build/
.classpath
.project
.settings/
.DS_Store
*.impl
*.iml
.gradle/


.idea/workspace.xml
.idea/libraries
.idea/gradle.xml
.idea/modules.xml
.idea/misc.xml
.idea/**/*

